<form
  [formGroup]="productoForm"
  (ngSubmit)="isCreate ? crearProducto() : actualizarProducto()"
  novalidate
>
  <input type="hidden" formControlName="id_producto" />
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ titleForm }} Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Nombre del producto</mat-label>
            <input matInput formControlName="nombre" />
            <mat-error *ngIf="errorHandling('nombre', 'required')">
              Nombre es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <span matPrefix>Album&nbsp;</span>
            <mat-label>Descripción del producto</mat-label>
            <input matInput formControlName="descripcion" />
            <mat-error *ngIf="errorHandling('descripcion', 'required')">
              Descripción es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <span matPrefix>₡&nbsp;</span>
            <mat-label>Precio del producto</mat-label>
            <input matInput formControlName="precio" />
            <mat-error *ngIf="errorHandling('precio', 'required')">
              El precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
          <!-- <mat-form-field class="full-width">
            <mat-label>Precio del producto</mat-label>
            <input matInput formControlName="precio" />
            <mat-error *ngIf="errorHandling('precio', 'required')">
              Precio es <strong>requerido</strong>
            </mat-error>
          </mat-form-field> -->
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>Cantidad del producto</mat-label>
            <input matInput formControlName="cantidad" />
            <mat-error *ngIf="errorHandling('cantidad', 'required')">
              Cantidad es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col" *ngIf="categoriaList">
          <mat-form-field class="full-width">
            <mat-label>Categoria del producto</mat-label>
            <mat-select formControlName="categoria">
              <mat-option
                *ngFor="let c of categoriaList"
                [value]="c.id_categoria"
              >
                {{ c.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-label>Estado del producto</mat-label>
          <mat-chip-listbox
            aria-label="Fish selection"
            formControlName="estado_producto"
          >
            <mat-chip-option value="Nuevo">Nuevo</mat-chip-option>
            <mat-chip-option value="Semi-nuevo">Semi - nuevo</mat-chip-option>
            <mat-chip-option value="Usado">Usado</mat-chip-option>
          </mat-chip-listbox>
          <!-- <mat-form-field>
            <mat-label>Estado del producto</mat-label>
            <mat-select formControlName="estado_producto">
              <mat-option value="Nuevo">Nuevo</mat-option>
              <mat-option value="Semi-nuevo">Semi-nuevo</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>

        <div class="col">
          <mat-label>Estado actual del producto</mat-label>
          <mat-chip-listbox
            aria-label="Fish selection"
            formControlName="estado_actual"
          >
            <mat-chip-option value="Activo" select>Habilitado</mat-chip-option>
            <mat-chip-option value="Inactivo">Deshabilitado</mat-chip-option>
          </mat-chip-listbox>
          <!-- <mat-form-field>
            <mat-label>Estado actual del producto</mat-label>
            <mat-select formControlName="estado_actual">
              <mat-option value="Activo">Activo</mat-option>
              <mat-option value="Inactivo">Inactivo</mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>

        <div class="col" hidden>
          <mat-form-field class="full-width">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="usuario" readonly />
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Estado del producto</mat-label>
            <mat-select formControlName="estado_producto">
              <mat-option value="Nuevo">Nuevo</mat-option>
              <mat-option value="Semi-nuevo">Semi-nuevo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field>
            <mat-label>Estado actual del producto</mat-label>
            <mat-select formControlName="estado_actual">
              <mat-option value="Activo">Activo</mat-option>
              <mat-option value="Inactivo">Inactivo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div> -->
    </mat-card-content>
    <mat-card-header>
      <h2>Apartado de fotografias</h2>
    </mat-card-header>
    
    <mat-card-header>
      <mat-card-title><b style="color: red;">Advertencia: </b></mat-card-title> <p> Antes de agregar las fotografias deseadas y crear el producto, verifique si las fotogrfias a escoger son las correctas, si no, bien puedes eliminarlas al momento de crear el producto</p>
    </mat-card-header>
    
    <div *ngIf="!isCreate" class="old-files">
      <h3>Fotografías agregadas</h3>
      <div class="old-files-container">
        <div *ngFor="let item of archivos">
          <div class="old-file-item">
            <img
              width="250"
              src="http://localhost:3000/{{ item.fotografia }}"
            />
            <button
              class="delete-file-btn"
              type="button"
              (click)="eliminarFoto(item.id_fotografia)"
            >
              Eliminar fotografía
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="dropzone">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label
          >Arrastra las fotografias aquí o haz click para explorar
          fotografias</ngx-dropzone-label
        >
        <ngx-dropzone-image-preview
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let f of files"
          [file]="f"
          [removable]="true"
          (removed)="onRemove(f)"
        >
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-btn"
      >
        Guardar
      </button>
    </mat-card-actions>
  </mat-card>
</form>
