<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<div class="informacion" *ngIf="datos">
  <mat-dialog-content>
    <carousel [isAnimated]="true" *ngIf="datos.fotografia">
      <!-- <li > -->
        <slide *ngFor="let item of datos.fotografia">
          <img src="http://localhost:3000/{{item.fotografia}}" style="display: block; width: 100%; margin-left:30%;">
        </slide>
      <!-- </li> -->
    </carousel>
    <!-- <div *ngIf="datos.fotografia">
      <div *ngFor="let foto of datos.fotografia">
        <img src="{{ foto.fotografia }}" />
      </div>
    </div> -->

    <p>Descripción: {{ datos.descripcion }}</p>

    <p>Cantidad: {{ datos.cantidad }}</p>

    <p>Estado del producto: {{ datos.estado_producto }}</p>

    <p>Precio: {{ datos.precio | currency : "₡" }}</p>

    <p>Categoría: {{ datos.categoria.descripcion }}</p>

    <p>Vendedor: {{ datos.usuario.nombre }} {{ datos.usuario.apellidos }}</p>

    <mat-divider inset></mat-divider>
    <br />

    <h2>Mensajes más frecuentes</h2>
    <ul *ngIf="datos.mensajeria">
      <div *ngFor="let mensaje of datos.mensajeria">
        <section class="msger">
          <main class="msger-chat">
            <div class="msg left-msg">
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">{{ mensaje.asunto }}</div>
                </div>
                <div class="msg-text">
                  {{ mensaje.mensaje }}
                </div>
              </div>
            </div>

            <div class="msg right-msg">
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-info-name">{{ mensaje.estado_actual }}</div>
                </div>

                <div class="msg-text">
                  {{ mensaje.respuesta }}
                </div>
              </div>
            </div>
          </main>
        </section>

        <mat-divider inset></mat-divider>

        <br />
      </div>
    </ul>
  </mat-dialog-content>
  <h4 *ngIf="isAutenticated">¿Buscas información específica sobre este producto?</h4>
  <p *ngIf="isAutenticated">Puedes enviarnos un mensaje al presionar este botón</p>
  <a 
    mat-fab
    matTooltip="Crear Mensaje"
    aria-label="Crear Mensaje"
    color="primary"
    *ngIf="isAutenticated"
    (click)="crearMensaje()"
    ><mat-icon>email</mat-icon>
  </a>
  <mat-dialog-actions> </mat-dialog-actions>
</div>
