.full-width-table {
    width: 100%;
    background-color: #212529;
    border-radius: 14px;
  }
  
  a{
  color: black;
  background-color: #495057;
  }
  
  .full-width{
    background-color: #F4F4F9;
    box-shadow: none;
  }
  
  mat-paginator{
    background-color: #212529;
    color: white;
  }
  
  th{
    color: white;
  }

  td{
    background-color: #ADB5BD;
    color: black;
  }
  
  button{
    background-color: #212529;
    color: white;
  }

  h1{
    text-align: center;
  }
  
