<mat-card class="shipping-card" style="margin-left: 5pc;">
    <mat-card-content>
      <div id="htmlData" class="contenedor">
        <h2 class="titulo">Top 3 de los vendedores peores calificados</h2>
        <table class="tabla">
          <thead>
            <tr class="table-primary">
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Calificación promedio</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of datos">
              <th>{{ item.nombre }}</th>
              <th>{{ item.apellidos}}</th>
              <td>{{ item.promedio_calificaciones }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 text-right">
        <button mat-flat-button color="accent" (click)="openPDF()">
          Descargar PDF
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  