<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <mat-card class="imagen-fondo">
        <img mat-card-image src="./assets/images/Logo_Con_Nombre.png"/>
        </mat-card>
        <br>
        <br>
        <h2 class="mat-headline-3">
            Algunos de nuestros productos
        </h2>
            <p class="mat-subtitle-1 parrafo1">
                Estos son algunos ejemplos de nuestros productos a la venta, para más información puedes ir en la parte de arriba donde dice "Nuestros productos" o si le interesa comprar producto, debes de iniciar sesión para realizar las compras que gusten
            </p> 
          <br>
          <br>
    <mat-grid-list cols="3" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>All That Remains - The Fall Of Ideals</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/images/All_That_Remains.PNG">
                <mat-card-content>
                    <br>
                    <button class="mat-button" mat-button color="black">₡ 20.000 (Vinilo)</button>
                  </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Arch Enemy - Deceivers</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/images/Arch_Enemy.png">
                <mat-card-content>
                    <br>
                    <button mat-button color="black">₡ 20.000 (Vinilo)</button>
                  </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Bad Omen - Unite And Fight</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/images/Bad_Omens.jpg" >
                <mat-card-content>
                    <br>
                    <button mat-button color="black">₡ 10.000 (Cassette)</button>
                  </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Escape The Fate - Dying Is Your Latest Fashion</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/images/Escape_The_Fate.PNG">
                <mat-card-content>
                    <br>
                    <button mat-button color="black">₡ 20.000 (Vinilo)</button>
                  </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>SpiritBox - Eternal Blue</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/images/SpiritBox.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <br>
                    <button mat-button color="black">₡ 15.000 (CD)</button>
                  </mat-card-content>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Motionless In White - 10 Year Anniversary</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/images/Motionless_in_White.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <br>
                    <button mat-button color="black">₡ 20.000 (Vinilo)</button>
                  </mat-card-content>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <br>
      <br>
      <h2 class="mat-headline-3">
        Equipo de trabajo
    </h2>
        <p class="mat-subtitle-1 parrafo1">
            En este espacio se muestra los desarrolladores responsables del proyecto a realizar
        </p> 
      <br>
      <br>
        <mat-grid-list cols="2" rowHeight="2:2" style="margin-top: -10pc;">
            <mat-grid-tile>
                <mat-card class="example-card-2" style="box-shadow: none;">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title class="mat-card-title-2">Yoryina Blanco Martínez</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="./assets/images/perfil.png" style="width: 50%; margin-left: 25%;">
                    <mat-card-content>
                      Estudiante de la Universidad Técnica Nacional, sede central
                      </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card-2" style="box-shadow: none;">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image" ></div>
                      <mat-card-title class="mat-card-title-2">Moisés Quirós Camacho</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="../assets/images/perfil.png" style="width: 50%; margin-left: 25%;">
                    <mat-card-content>
                      Estudiante de la Universidad Técnica Nacional, sede central
                      </mat-card-content>
                  </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
</body>
</html>
    

