<mat-toolbar class="nav">
  <button
    mat-icon-button
    [routerLink]="['/']"
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <img class="icon" src="./assets/images/Logo_Sin_Fondo.png" />
  </button>
  <span class="example-spacer"></span>

  <section>
    <div class="example-button-row">
      <button
        class="button-navbar"
        mat-button
        [routerLink]="['/']"
        routerLinkActive="mat-raised-buttom"
      >
        Inicio
      </button>
      <button class="button-navbar" mat-button [routerLink]="['/acerca-de']">
        Acerca de
      </button>
      <button
        class="button-navbar"
        mat-button
        [routerLinkActive]="'mat-raised-button'"
        [routerLink]="['/producto']"
      >
        Nuestros productos
      </button>

      <!-- <button
        class="button-navbar"
        *ngIf="isAutenticated && !cliente"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        Mantenimientos
      </button> -->

      <!-- <button
        class="button-navbar"
        *ngIf="isAutenticated"
        mat-button
        [matMenuTriggerFor]="menu2"
      >
        Listados
      </button> -->

      <!-- <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          mat-menu-item
          [routerLinkActive]="'mat-raised-button'"
          *ngIf="isAutenticated && vendedor"
          [routerLink]="['/producto/all']"
        >
          Productos
        </button>

        <button
          mat-menu-item
          mat-menu-item
          [routerLinkActive]="'mat-raised-button'"
          *ngIf="isAutenticated && !titulo && !cliente"
          [routerLink]="['/mensajeria/all']"
        >
          Mensajería
        </button>

        <button
          mat-menu-item
          mat-menu-item
          [routerLinkActive]="'mat-raised-button'"
          *ngIf="isAutenticated && titulo"
          [routerLink]="['/mensajeria/all']"
        >
          Mensajería de mis productos
        </button>

        <button
          mat-menu-item
          mat-menu-item
          [routerLinkActive]="'mat-raised-button'"
          *ngIf="isAutenticated && vendedorCliente"
          [routerLink]="['/mensajeria-vendedor/all']"
        >
          Mis mensajes
        </button>
      </mat-menu> -->

      <!-- <mat-menu #menu2="matMenu">
        <button
          mat-menu-item
          mat-menu-item
          [routerLinkActive]="'mat-raised-button'"
          [routerLink]="['/orden-compra-cliente/all']"
        >
          Pedidos
        </button>
      </mat-menu> -->
    </div>
  </section>

  <!-- DROPDOWN CUANDO INICIA SESION -->
  <div class="example-spacer">
    <!--enlaces de la app-->
    <!--https://fonts.google.com/icons-->
    <!--https://material.angular.io/guide/typography-->
    <!-- Carrito de comprar presenta la cantidad -->
    <button
      mat-icon-button
      matBadgeColor="accent"
      [matBadge]="qtyItems.toString()"
      [routerLink]="'/ordenCompra'"
      [routerLinkActive]="'mat-raised-button'"
      aria-label="Cantidad"
    >
      <mat-icon [ngStyle]="{ color: isAutenticated ? 'white' : '#9E9E9E' }"
        >shopping_cart</mat-icon
      >
    </button>
    |
    <!--Usuario-->

    <button mat-icon-button [matMenuTriggerFor]="menu3">
      <mat-icon [ngStyle]="{ color: isAutenticated ? 'white' : '#9E9E9E' }"
        >person</mat-icon
      >
      <span class="mat-caption" *ngIf="isAutenticated" style="color: white">
        {{ currentUser.user.nombre }} {{ currentUser.user.apellidos }}</span
      >
    </button>
    <!--Menu usuario-->
    <mat-menu #menu3="matMenu">
      <a mat-menu-item *ngIf="!isAutenticated" (click)="login()">
        <mat-icon>login</mat-icon>
        <span>Iniciar sesión</span>
      </a>
      <a mat-menu-item *ngIf="isAutenticated">
        <mat-icon>contact_mail</mat-icon>
        <span class="mat-caption" *ngIf="isAutenticated">
          {{ currentUser.user.correo_electronico }}</span
        >
      </a>

      <!-- ESTE REMPLAZA EL BOTON DE "LISTADO/PEDIDOS" QUE ESTA EN COMENTARIO -->
      <a
        mat-menu-item
        *ngIf="isAutenticated"
        [routerLink]="['/orden-compra-cliente/all']"
      >
        <span class="mat-caption" *ngIf="isAutenticated || cliente || vendedor">
          Pedidos</span
        >
        <mat-icon>local_shipping</mat-icon>
      </a>
      <!--  -->

      <!-- ESTOS REMPLAZA LOS BOTONES DE MANTENIMIENTO DE PRODUCTO Y MENSAJERIA -->

      <a
        mat-menu-item
        *ngIf="isAutenticated && vendedor"
        [routerLink]="['/producto/all']"
      >
        <span class="mat-caption"> Mantenimiento de producto</span>
        <mat-icon>build</mat-icon>
      </a>

      <a
        mat-menu-item
        *ngIf="isAutenticated && !titulo && !cliente"
        [routerLink]="['/mensajeria/all']"
      >
        <span class="mat-caption"> Mantenimiento de mensajería</span>
        <mat-icon>build</mat-icon>
      </a>

      <a
        mat-menu-item
        *ngIf="isAutenticated && titulo"
        [routerLink]="['/mensajeria/all']"
      >
        <span class="mat-caption"> Mensajería de mis productos</span>
        <mat-icon>mail</mat-icon>
      </a>

      <a
        mat-menu-item
        *ngIf="isAutenticated && vendedorCliente"
        [routerLink]="['/mensajeria-vendedor/all']"
      >
        <span class="mat-caption"> Mis mensajes</span>
        <mat-icon>mail</mat-icon>
      </a>

      <!--  -->

      <a
        mat-menu-item
        *ngIf="isAutenticated && cliente"
        [routerLink]="['/mensajeria/all']"
      >
        <span class="mat-caption" *ngIf="isAutenticated && !titulo">
          Mis mensajes</span
        >
        <mat-icon>mail</mat-icon>
      </a>
      <a mat-menu-item *ngIf="isAutenticated" [routerLink]="['/direccion/']">
        <mat-icon>location_on</mat-icon>
        <span class="mat-caption" *ngIf="isAutenticated"> Mis ubicaciones</span>
      </a>

      <a mat-menu-item *ngIf="isAutenticated&&cliente||vendedorCliente" [routerLink]="['/ordenCompra']">
        <mat-icon class="material-symbols-outlined">
          shopping_bag
        </mat-icon>
        <span class="mat-caption" *ngIf="isAutenticated">Ordenes de compra</span>
      </a>

      <a
        mat-menu-item
        *ngIf="isAutenticated && cliente"
        [routerLink]="['/metodoPago/']"
      >
        <mat-icon>payments</mat-icon>
        <span class="mat-caption" *ngIf="isAutenticated"> Mis tarjetas</span>
      </a>

<a
        mat-menu-item
        *ngIf="isAutenticated && !cliente && !vendedor"
        [routerLink]="['/user/all']"
      >
        <mat-icon>manage_accounts</mat-icon>
        <span class="mat-caption" *ngIf="isAutenticated && administrador">Usuarios</span>
      </a>
      

      <a mat-menu-item *ngIf="isAutenticated" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesión</span>
      </a>
    </mat-menu>
  </div>
  <!--  -->
</mat-toolbar>
