<div id="signup">
  <h1>Registrarse</h1>
  <form [formGroup]="formCreate" novalidate>
    <div class="top-row">
      <div class="field-wrap">
        <input
          matInput
          type="text"
          placeholder="Nombre"
          formControlName="nombre"
          class="req"
        />
        <mat-error *ngIf="errorHandling('nombre', 'required')">
          Nombre es <strong>requerido</strong>
        </mat-error>
      </div>

      <div class="field-wrap">
        <input
          matInput
          type="text"
          placeholder="Número de telefóno"
          formControlName="numero_telefono"
        />
        <mat-error *ngIf="errorHandling('numero_telefono', 'required')">
          El número de telefóno es <strong>requerido</strong>
        </mat-error>
      </div>
    </div>

    <div class="field-wrap">
      <input
        matInput
        type="text"
        placeholder="Apellidos"
        formControlName="apellidos"
      />
      <mat-error *ngIf="errorHandling('apellidos', 'required')">
        los apellidos son <strong>requerido</strong>
      </mat-error>
    </div>

    <div class="field-wrap">
      <input
        matInput
        type="email"
        placeholder="Correo electrónico del usuario"
        formControlName="correo_electronico"
      />
      <mat-error *ngIf="errorHandling('correo_electronico', 'required')">
        El correo electrónico es <strong>requerido</strong>
      </mat-error>
    </div>

    <div class="field-wrap">
      <input
        type="password"
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Contraseña usuario"
        formControlName="contrasenna"
      />
      <br />
      <button
        style="background-color: white"
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide contrasenna'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="errorHandling('contrasenna', 'required')">
        La contraseña es <strong>requerido</strong>
      </mat-error>
      <br /><br />
      <mat-form-field class="full-width">
        <mat-label>Tipo de usuario</mat-label>
        <mat-select
          placeholder="Tipo de usuario"
          formControlName="tipoUsuario"
          multiple
        >
          <mat-option
            *ngFor="let t of tipoUsuario"
            [value]="t.id_tipoUsuario"
            >{{ t.descripcion }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="errorHandling('tipoUsuario', 'required')">
          El tipo de usuario es <strong>requerido</strong>, por favor seleccione
          un tipo de usuario que desea registrarsé
        </mat-error>
      </mat-form-field>
    </div>

    <div class="field-wrap" hidden>
      <input matInput type="text" formControlName="estado_actual" />
      <mat-error *ngIf="errorHandling('estado_actual', 'required')">
        El estado actual es <strong>requerido</strong>
      </mat-error>
    </div>
    <br />
    <button (click)="submitForm()" class="button button-block">
      Registrarse
    </button>
  </form>
</div>
